.DS_Store
.phpunit.cache
.phpunit.result.cache
.yarn-*.log
composer.lock
clover.xml

docker-compose.override.yml
.env.local

/.cache/
/.tmp/
/coverage/
/node_modules/
/vendor/

# IntelliJ files
/.idea/*.xml
!/.idea/codeception.xml
!/.idea/externalDependencies.xml
!/.idea/jsLibraryMappings.xml
!/.idea/jsonSchemas.xml
!/.idea/misc.xml
!/.idea/modules.xml
!/.idea/pdk.iml
!/.idea/php-docker-settings.xml
!/.idea/php-test-framework.xml
!/.idea/php.xml
!/.idea/phpspec.xml
!/.idea/phpunit.xml
!/.idea/prettier.xml
!/.idea/vcs.xml

# Yarn
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
